@import url(mixins.less);

.gridlist-toggle {
	display: block;
	clear: both;
	margin: 0 !important;
	padding: 1em 0 !important;
	line-height: 1em !important;

	a {
		display: inline-block;
		padding: .618em;
		.borderbox;
		text-align: center;
		text-decoration: none !important;
		font-weight: 400 !important;
		font-family: sans-serif !important;
		font-size: 1em !important;
		line-height: 1em !important;
		background-color: rgba(0,0,0,.1);
		em {
			display: none;
		}
		&:hover {
			background-color: rgba(0,0,0,.3);
		}
		&.active {
			background-color: rgba(0,0,0,.2);
		}
	}

	.dashicons:before,
	.dashicons {
		font-size: 1em;
		line-height: 1;
		height: 1em;
		width: 1em;
	}
}