ul.products.grid .woocommerce-product-details__short-description {
  display: none;
}
ul.products.grid hr {
  display: none;
}
ul.products.list li.product {
  float: none !important;
  width: 100% !important;
  text-align: left !important;
}
ul.products.list li.product .woocommerce-loop-product__title,
ul.products.list li.product .woocommerce-loop-category__title {
  clear: none;
}
ul.products.list li.product:after {
  content: "";
  display: block;
  clear: both;
}
ul.products.list li.product img {
  width: 30.75% !important;
  float: left;
  margin-bottom: 1.5em;
  -webkit-transition: none !important;
  margin-right: 3.8% !important;
}
ul.products.list li.product h3,
ul.products.list li.product .woocommerce-product-details__short-description,
ul.products.list li.product .price,
ul.products.list li.product .gridlist-buttonwrap {
  width: 65.4%;
  float: right;
  clear: none;
}
ul.products.list li.product div[itemprop="description"] {
  display: block;
}
ul.products.list li.product .star-rating {
  margin: 0 0 1em;
}
ul.products.list li.product .gridlist-buttonwrap {
  margin-bottom: 1.5em;
}
ul.products.list li.product hr {
  clear: both;
}
